# Environments
venv/
.venv/
IA_Oruga_Portable/venv/
IA_Oruga_Portable/.venv/

# Python bytecode and caches
*.py[cod]
__pycache__/
IA_Oruga_Portable/**/__pycache__/

# Build and packaging
*.egg-info/
*.dist-info/
*.whl

# Temporary files
*.swp
*~
